.animation-container {
  position: relative;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  overflow: hidden;
}

.dvd-animation {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  animation: moveX 5s linear infinite alternate, moveY 3.4s linear infinite alternate;
}

.dvd-animation img {
  width: 100%;
  height: auto;
}

@keyframes moveX {
  from { left: 0; } 
  to { left: calc(100vw - 100px); }
}

@keyframes moveY {
  from { top: 0; } 
  to { top: calc(100vh - 100px); }
}
